.main {
  overflow: hidden; }

.logo-text {
  display: inline-block;
  color: black;
  font-weight: bold; }
  .logo-text p {
    font-size: 15px;
    color: #8C8C8C;
    font-weight: 400; }

.logo {
  width: 300px; }
  .logo a {
    color: orange; }
    .logo a:hover {
      color: red;
      text-decoration: none; }

.navbar-tel h6 a {
  position: relative;
  text-decoration: none;
  border-bottom: 1px dashed blue; }

.fa-map-marker {
  color: black;
  padding: 5px; }

.form-search {
  position: relative;
  display: inline-block;
  border: 1px solid #747474;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
          box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BCBCBC), to(#EBEBEB));
  background-image: -webkit-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: -o-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: linear-gradient(#BCBCBC, #EBEBEB);
  margin: 0 10px 0 10px; }
  .form-search:before {
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), color-stop(50%, #CACACA), color-stop(50%, #A9A9A9), to(#9B9B9B));
    background: -webkit-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
    background: -o-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
    background: linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B); }
  .form-search:focus-within {
    -webkit-box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
            box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#9CC2CA), to(#DFECEF));
    background: -webkit-linear-gradient(#9CC2CA, #DFECEF);
    background: -o-linear-gradient(#9CC2CA, #DFECEF);
    background: linear-gradient(#9CC2CA, #DFECEF); }
  .form-search input[type="search"] {
    width: 60px;
    height: 32px;
    line-height: 32px;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 0 0 5px;
    background: transparent;
    font: 13px Helvetica, Arial, sans-serif;
    color: #6E7074;
    text-shadow: 0 1px 0 #FFF;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
  .form-search:focus-within input[type="search"] {
    margin: 0 0 0 10px;
    width: 160px;
    color: #25464D; }
  .form-search input {
    padding: 0;
    vertical-align: bottom; }
    .form-search input[type="search"]:focus {
      width: 160px;
      color: black; }

.logo .navbar-tel .search {
  display: inline; }

.fa-search {
  padding-right: 10px; }

.telephone {
  color: orange; }
  .telephone:hover {
    text-decoration: none;
    color: red; }
  .telephone p {
    display: inline;
    color: #8c8c8c; }
  .telephone strong {
    color: #000;
    font-size: 24px; }

.navbar-2 ul {
  padding: 0;
  text-align: center; }
  .navbar-2 ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 20px 0 20px; }
    .navbar-2 ul li a {
      color: #000;
      font: bold 18px/24px italic;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .navbar-2 ul li a:hover {
        text-decoration: none;
        text-shadow: 2px 2px 5px; }

.navbar-3 {
  background-color: #555555; }
  .navbar-3 ul {
    list-style-type: none;
    padding: 20px 10px 10px 160px;
    text-align: center;
    margin: 0; }

.navbar-3 ul li:nth-child(1) {
  position: relative;
  display: inline-block;
  width: 10em; }
  .navbar-3 ul li:nth-child(1) a {
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 1px 1px 5px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(1) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 10px black; }
    .navbar-3 ul li:nth-child(1) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat 0px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(2) {
  position: relative;
  display: inline-block;
  width: 10em; }
  .navbar-3 ul li:nth-child(2) a {
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 1px 1px 5px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(2) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 10px black; }
    .navbar-3 ul li:nth-child(2) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -44px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(3) {
  position: relative;
  display: inline-block;
  width: 10em; }
  .navbar-3 ul li:nth-child(3) a {
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 1px 1px 5px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(3) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 10px black; }
    .navbar-3 ul li:nth-child(3) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -88px -2px;
      width: 44px;
      height: 54px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(4) {
  position: relative;
  display: inline-block;
  width: 10em; }
  .navbar-3 ul li:nth-child(4) a {
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 1px 1px 5px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(4) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 10px black; }
    .navbar-3 ul li:nth-child(4) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -132px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(5) {
  position: relative;
  display: inline-block;
  width: 10em; }
  .navbar-3 ul li:nth-child(5) a {
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 1px 1px 5px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(5) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 10px black; }
    .navbar-3 ul li:nth-child(5) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -176px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(6) {
  position: relative;
  display: inline-block;
  width: 10em; }
  .navbar-3 ul li:nth-child(6) a {
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 1px 1px 5px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(6) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 10px black; }
    .navbar-3 ul li:nth-child(6) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -225px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.sky {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(../img/sky.jpg) no-repeat center/cover; }

.sky a {
  position: absolute;
  border: 2px solid blue;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  background-color: orange;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin-left: 25px;
  margin-top: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .sky a:hover {
    text-decoration: none;
    color: red;
    -webkit-box-shadow: 8px 8px 20px black;
            box-shadow: 8px 8px 20px black; }

.hidden {
  display: none; }

#form {
  position: relative;
  text-align: center; }
  #form input[type="text"] {
    position: relative;
    padding-left: 10px;
    width: 240px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  #form input[type="submit"] {
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-image: -webkit-gradient(linear, left top, right top, from(#9EEFE1), color-stop(51%, #4830F0), to(#9EEFE1));
    background-image: -webkit-linear-gradient(left, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-image: -o-linear-gradient(left, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    -webkit-background-size: 200% auto;
            background-size: 200% auto;
    text-transform: uppercase;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    #form input[type="submit"]:hover {
      background-position: right center; }
  #form textarea {
    padding-left: 10px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.office {
  position: relative;
  width: 100%; }

.background-office {
  position: relative;
  width: 800px;
  margin: 0 auto; }
  .background-office .circle {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 200px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url(../img/office.jpg) no-repeat center;
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: soft-light; }

.our-services {
  position: relative;
  padding-bottom: 30px; }
  .our-services h1 {
    position: relative;
    margin: 70px 20px 0px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden; }
    .our-services h1:before, .our-services h1:after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 0 solid black;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 3px;
      border-width: 0 70px;
      top: 23px; }
    .our-services h1:before {
      margin-left: -103%; }
    .our-services h1:after {
      margin-left: 3%; }
  .our-services .border-animation__inner {
    font-size: 18px; }

.our-services {
  width: 80%;
  margin: 0 auto; }
  .our-services ul {
    width: 33.33%;
    padding: 50px 20px 20px 20px;
    list-style: none;
    margin: 0 auto; }
    .our-services ul h3 {
      color: orange;
      margin: 30px 0;
      min-height: 15%;
      text-align: center; }
    .our-services ul button {
      display: block;
      padding: 7px 30px 7px 30px;
      margin-bottom: 30px;
      border: 3px solid orange;
      background: white;
      margin: 0 auto; }
      .our-services ul button a {
        font-weight: bold;
        color: #000; }
    .our-services ul li {
      padding-left: 40px; }
      .our-services ul li p {
        color: #8a8a8a; }

.complex {
  position: relative; }
  .complex li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .complex li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .complex li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.trafic {
  position: relative; }
  .trafic li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .trafic li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .trafic li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.landing {
  position: relative; }
  .landing li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .landing li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .landing li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.site {
  position: relative; }
  .site li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .site li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .site li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.young-site {
  position: relative; }
  .young-site li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .young-site li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .young-site li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.advertise {
  position: relative; }
  .advertise li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .advertise li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .advertise li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.wrap__cube {
  margin: 20px 0 20px 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%; }

.cube1, .cube2, .cube3, .cube4, .cube5, .cube6 {
  margin: auto;
  position: relative;
  height: 80px;
  width: 80px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .cube1 > div, .cube2 > div, .cube3 > div, .cube4 > div, .cube5 > div, .cube6 > div {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px;
    height: 100%;
    width: 100%; }

.cube1 > div {
  background: url(../img/our-services-1.png) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube2 > div {
  background: url(../img/our-services-2.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube3 > div {
  background: url(../img/our-services-3.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube4 > div {
  background: url(../img/our-services-4.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube5 > div {
  background: url(../img/our-services-5.png) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube6 > div {
  background: url(../img/our-services-6.png) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.front {
  -webkit-transform: translateZ(80px);
          transform: translateZ(80px); }

.back {
  -webkit-transform: translateZ(0px) rotateY(180deg);
          transform: translateZ(0px) rotateY(180deg); }

.right {
  -webkit-transform: rotateY(-270deg) translateX(0px);
          transform: rotateY(-270deg) translateX(0px);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right; }

.left {
  -webkit-transform: rotateY(270deg) translateX(0px);
          transform: rotateY(270deg) translateX(0px);
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left; }

.top {
  -webkit-transform: rotateX(-270deg) translateY(0px);
          transform: rotateX(-270deg) translateY(0px);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center; }

.bottom {
  -webkit-transform: rotateX(270deg) translateY(0px);
          transform: rotateX(270deg) translateY(0px);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg); } }

.cube1, .cube2, .cube3, .cube4, .cube5, .cube6 {
  -webkit-animation: rotate 0s infinite linear;
          animation: rotate 0s infinite linear; }

.portfolio_ {
  position: relative;
  padding-bottom: 30px; }
  .portfolio_ h1 {
    position: relative;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden; }
    .portfolio_ h1 span:before, .portfolio_ h1 span:after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 0 solid black;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 3px;
      border-width: 0 70px; }
    .portfolio_ h1 span:before {
      margin-left: -105%; }
    .portfolio_ h1 span:after {
      margin-left: 3%; }

.portfolio_ h4 {
  position: relative;
  text-align: center;
  color: orange;
  text-transform: uppercase; }

._sim-menu {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px; }
  ._sim-menu span {
    display: inline-block;
    padding-right: 20px; }
    ._sim-menu span:after {
      position: absolute;
      content: '\f105';
      font-family: FontAwesome;
      font-size: 1.5em;
      font-weight: 900;
      color: blue;
      padding-left: 10px; }

._products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  ._products .products-img {
    position: relative;
    width: 25%;
    height: 300px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 10px -5px #000;
            box-shadow: 0px 0px 10px -5px #000;
    overflow: hidden;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    ._products .products-img:hover {
      -webkit-box-shadow: 0px 0px 20px -5px #000;
              box-shadow: 0px 0px 20px -5px #000; }
    ._products .products-img img {
      position: absolute;
      width: 100%; }
    ._products .products-img:before {
      position: absolute;
      content: '';
      right: 0;
      left: 0;
      top: -20px;
      -webkit-box-shadow: 0 45px 50px 50px #fff;
              box-shadow: 0 45px 50px 50px #fff;
      z-index: 1; }
    ._products .products-img:after {
      position: absolute;
      content: '';
      background: url(../img/logo.png) no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      top: 200px;
      left: 20px;
      width: 30px;
      height: 30px; }
    ._products .products-img .text-top {
      position: absolute;
      padding: 0 10% 0 10%;
      color: orange;
      text-align: center;
      top: 15px;
      font-weight: bold;
      font-size: 14px;
      z-index: 1; }
      ._products .products-img .text-top span {
        color: #3f3f3f; }
    ._products .products-img .text-bottom {
      position: absolute;
      color: orange;
      padding: 0 10% 0 10%;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      bottom: 15px; }
      ._products .products-img .text-bottom span {
        color: #3f3f3f; }

.products-png {
  position: absolute;
  background: url(../img/products-png.png) no-repeat center/cover;
  top: 9.5em;
  width: 100%;
  height: 170px; }

.feedback_, .clients_, .professionals_, .advantages_, .development_, .contacts_ {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center; }
  .feedback_ h1, .clients_ h1, .professionals_ h1, .advantages_ h1, .development_ h1, .contacts_ h1 {
    position: relative;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em; }
    .feedback_ h1:before, .feedback_ h1:after, .clients_ h1:before, .clients_ h1:after, .professionals_ h1:before, .professionals_ h1:after, .advantages_ h1:before, .advantages_ h1:after, .development_ h1:before, .development_ h1:after, .contacts_ h1:before, .contacts_ h1:after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 0 solid black;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 3px;
      top: 19px;
      border-width: 0 70px; }
    .feedback_ h1:before, .clients_ h1:before, .professionals_ h1:before, .advantages_ h1:before, .development_ h1:before, .contacts_ h1:before {
      margin-left: -102%; }
    .feedback_ h1:after, .clients_ h1:after, .professionals_ h1:after, .advantages_ h1:after, .development_ h1:after, .contacts_ h1:after {
      margin-left: 2%; }
  .feedback_ h4, .clients_ h4, .professionals_ h4, .advantages_ h4, .development_ h4, .contacts_ h4 {
    position: relative;
    font-weight: bold;
    color: orange;
    text-transform: uppercase; }

.trend_ {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px; }
  .trend_ h1 {
    position: relative;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
    .trend_ h1:before, .trend_ h1:after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 0 solid black;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 3px;
      top: 24px;
      border-width: 0 70px; }
    .trend_ h1:before {
      margin-left: -101%; }
    .trend_ h1:after {
      margin-left: 1%; }
  .trend_ h4 {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: orange;
    text-transform: uppercase; }

.feedback__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 10px;
  margin: 20px auto 0 auto;
  width: 80%;
  -webkit-box-shadow: 0 0 5px #555555;
          box-shadow: 0 0 5px #555555;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: left; }

.ava-nick {
  display: inline-block;
  vertical-align: top;
  width: 100px; }

.nick {
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 0.8em; }

.com {
  display: inline-block;
  margin-left: 10px;
  width: 85%;
  font-size: 0.8em; }

.ava {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 5em;
  height: 5em;
  background: url(../img/ava.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
  margin: 0 auto; }

.ava2 {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 5em;
  height: 5em;
  background: url(../img/bolt.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
  margin: 0 auto; }

.ava3 {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 5em;
  height: 5em;
  background: url(../img/girl.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
  margin: 0 auto; }

.owl-carousel .owl-item img {
  height: 18rem; }

.clients_ h1 {
  margin-bottom: 40px; }

.owl-dots {
  margin-top: 40px !important; }

._list_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px; }
  ._list_ ._item-1 {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 420px; }
    ._list_ ._item-1 img {
      position: absolute;
      width: 300px;
      left: 0;
      -webkit-box-shadow: 0 0 5px;
              box-shadow: 0 0 5px; }
  ._list_ ._item-2 {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 420px; }
    ._list_ ._item-2 img {
      position: absolute;
      width: 300px;
      left: 0;
      -webkit-box-shadow: 0 0 5px;
              box-shadow: 0 0 5px; }

.a1, .a7 {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .a1:hover, .a1:focus, .a7:hover, .a7:focus {
    left: -250px; }

.a2, .a8 {
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .a2:hover, .a2:focus, .a8:hover, .a8:focus {
    left: -235px; }

.a3, .a9 {
  position: absolute;
  top: 40px;
  left: 40px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .a3:hover, .a3:focus, .a9:hover, .a9:focus {
    left: -220px; }

.a4, .a10 {
  position: absolute;
  top: 60px;
  left: 60px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .a4:hover, .a4:focus, .a10:hover, .a10:focus {
    left: -205px; }

.a5, .a11 {
  position: absolute;
  top: 80px;
  left: 80px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .a5:hover, .a5:focus, .a11:hover, .a11:focus {
    left: -190px; }

.a6, .a12 {
  position: absolute;
  top: 100px;
  left: 100px; }

.background-advantages {
  position: relative;
  width: 400px;
  margin: 40px auto 0 auto; }
  .background-advantages .image-adv {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 100px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url(../img/background-advantages.jpg) no-repeat center;
    -webkit-background-size: 530px 530px;
            background-size: 530px;
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: soft-light;
    z-index: -1; }

._item-adv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px; }
  ._item-adv a {
    width: 40%;
    padding: 80px 10px 20px 10px;
    cursor: pointer; }
    ._item-adv a:hover {
      text-decoration: none; }
  ._item-adv div {
    position: relative;
    width: 65px;
    margin: 0 auto; }
  ._item-adv b {
    color: #000; }
  ._item-adv p {
    color: #8a8a8a; }

._item-adv a:nth-child(1) div:before {
  position: absolute;
  content: "\f296";
  font-family: FontAwesome;
  font-size: 4em;
  color: orange;
  left: 0px;
  top: -85px; }

._item-adv a:nth-child(2) div:before {
  position: absolute;
  content: "\f201";
  font-family: FontAwesome;
  font-size: 4em;
  color: orange;
  left: 0px;
  top: -85px; }

._item-adv a:nth-child(3) div:before {
  position: absolute;
  content: "\f270";
  font-family: FontAwesome;
  font-size: 4em;
  color: orange;
  left: 0px;
  top: -85px; }

._item-adv a:nth-child(4) div:before {
  position: absolute;
  content: "\f1f4";
  font-family: FontAwesome;
  font-size: 4em;
  color: orange;
  left: 0px;
  top: -85px; }

._item-adv a:nth-child(5) div:before {
  position: absolute;
  content: "\f19c";
  font-family: FontAwesome;
  font-size: 4em;
  color: orange;
  left: 0px;
  top: -85px; }

._item-adv a:nth-child(6) div:before {
  position: absolute;
  content: "\f26b";
  font-family: FontAwesome;
  font-size: 4em;
  color: orange;
  left: 0px;
  top: -85px; }

._news_ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 20px; }
  ._news_ h4 {
    color: #1888b1;
    height: 3.5rem;
    overflow: hidden; }

._dev-item-1, ._dev-item-2 {
  width: 45%; }

.dev-name {
  position: relative;
  float: left;
  padding-left: 33px;
  color: #8a8a8a;
  text-decoration: none; }
  .dev-name:before {
    position: absolute;
    content: '\f2c0';
    font-family: FontAwesome;
    font-size: 1.5rem;
    left: 3px;
    top: -10px;
    color: #000; }

.dev-date {
  position: relative;
  float: right;
  padding-right: 10px;
  color: #8a8a8a;
  text-decoration: none; }
  .dev-date:before {
    position: absolute;
    content: '\f073';
    font-family: FontAwesome;
    font-size: 1.5rem;
    left: -28px;
    top: -10px;
    color: #000; }

.div-content {
  position: relative;
  display: block;
  width: 100%;
  height: 25rem;
  margin-top: 10px;
  background: url(../img/div-content.png) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  overflow: hidden; }
  .div-content:before {
    position: absolute;
    content: 'News';
    display: block;
    width: 100px;
    height: 25px;
    background: orange;
    top: 50px;
    left: -100px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .div-content:hover::before {
    left: 0; }

._dev-item-2 .div-content {
  background: url(../img/div-content1.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.div-comment {
  position: relative;
  float: left;
  padding-left: 35px; }
  .div-comment:before {
    position: absolute;
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 1.5rem;
    left: 3px;
    top: -7px; }
  .div-comment span {
    padding-left: 10px; }

.div-read {
  float: right;
  padding-right: 10px; }

section {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

section.sec1 {
  margin-top: 40px;
  background: url(../img/paralax-1.jpg) no-repeat center/cover;
  background-attachment: fixed; }

section.sec2 {
  background: url(../img/paralax-2.jpg) no-repeat center/cover;
  background-attachment: fixed; }

section.sec3 {
  background: url(../img/paralax-3.jpg) no-repeat center/cover;
  background-attachment: fixed; }

section.sec4 {
  background: url(../img/paralax-4.jpg) no-repeat center/cover;
  background-attachment: fixed; }

section.sec5 {
  background: url(../img/paralax-5.jpg) no-repeat center/cover;
  background-attachment: fixed; }

.sec-text {
  padding: 2% 8%;
  height: auto; }

.sec-text__title {
  margin: 0;
  padding: 0;
  font-size: 2em; }

.sec-text__dsc {
  font-size: 1em; }

._fb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }

.fbitem-1 {
  width: 45%;
  padding: 10px;
  text-align: left; }
  .fbitem-1 p {
    color: #8a8a8a; }
  .fbitem-1 div {
    line-height: 50%; }
    .fbitem-1 div span {
      color: #8a8a8a;
      font-size: 6px; }

.fbitem-2 {
  position: relative;
  width: 50%;
  height: 200px;
  padding: 10px; }
  .fbitem-2:before {
    position: absolute;
    content: 'M A P';
    top: 10px;
    left: 60px;
    font-size: 120px;
    color: #e6e6e6;
    font-weight: bold; }

.fbitem-3 {
  width: 56%;
  padding: 20px 0px 0px 10px;
  text-align: left;
  font-size: 16px; }
  .fbitem-3 span {
    color: #8a8a8a; }

.contacts_ {
  width: 100%;
  background: #ffebeb;
  line-height: 50%; }
  .contacts_ div p {
    color: #8a8a8a; }

.cont-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px; }

.cont-form {
  width: 70%;
  text-align: left; }
  .cont-form p {
    margin: 0; }
  .cont-form input {
    height: 30px;
    width: 228px;
    padding: 5px;
    margin-right: 20px; }
    .cont-form input:focus::-webkit-input-placeholder {
      color: transparent; }
    .cont-form input:focus::-moz-placeholder {
      color: transparent; }
    .cont-form input:focus:-ms-input-placeholder {
      color: transparent; }
    .cont-form input:focus::-ms-input-placeholder {
      color: transparent; }
    .cont-form input:focus::placeholder {
      color: transparent; }
  .cont-form input[type='submit'], .cont-form [type='reset'] {
    width: 20%;
    display: inline-block;
    margin: 0 20px 0 auto;
    background: #ffffff;
    border: 4px solid orange;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #000;
    text-decoration: none; }
    .cont-form input[type='submit']:hover, .cont-form input[type='submit']:focus, .cont-form [type='reset']:hover, .cont-form [type='reset']:focus {
      text-decoration: none;
      color: orange;
      background: blue; }
  .cont-form textarea {
    padding: 10px 5px 5px 5px;
    margin: 20px 0 20px 0;
    width: 732px; }
    .cont-form textarea:focus::-webkit-input-placeholder {
      opacity: 0; }
    .cont-form textarea:focus::-moz-placeholder {
      opacity: 0; }
    .cont-form textarea:focus:-ms-input-placeholder {
      opacity: 0; }
    .cont-form textarea:focus::-ms-input-placeholder {
      opacity: 0; }
    .cont-form textarea:focus::placeholder {
      opacity: 0; }

.contacts_ .cont-img {
  width: 25%; }
  .contacts_ .cont-img img {
    width: 100%;
    margin-bottom: 15px; }
  .contacts_ .cont-img p {
    color: #000; }
    .contacts_ .cont-img p b {
      color: #000; }

footer {
  background: #1f1f1f; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0 50px 0; }
  .footer .footer-column {
    width: 25%;
    padding: 10px; }
    .footer .footer-column h4, .footer .footer-column h5 {
      margin-bottom: 10px;
      color: orange; }
    .footer .footer-column h6 a {
      position: relative;
      padding-left: 20px;
      color: orange;
      text-decoration: none; }
      .footer .footer-column h6 a:before {
        position: absolute;
        content: '\f071';
        font-family: FontAwesome;
        font-size: 1rem;
        left: 0;
        top: 2px;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        color: #fff;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .footer .footer-column h6 a:hover::before {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
    .footer .footer-column a {
      color: #c0c0c0;
      text-decoration: underline; }

.underfooter {
  width: 80%;
  margin: 0 auto; }
  .underfooter h4 {
    color: orange; }
  .underfooter .under-a {
    color: #c0c0c0;
    text-decoration: underline; }
  .underfooter i {
    color: #c0c0c0;
    font-size: 12px; }
  .underfooter span {
    color: #c0c0c0; }
  .underfooter .under-vk {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #c0c0c0; }
    .underfooter .under-vk:before {
      position: absolute;
      content: '\f189';
      font-family: FontAwesome;
      font-size: 1.8rem;
      top: -1px;
      left: 6px;
      color: #c0c0c0; }
    .underfooter .under-vk:hover::before {
      color: aqua; }
  .underfooter .under-fb {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #c0c0c0; }
    .underfooter .under-fb:before {
      position: absolute;
      content: '\f09a';
      font-family: FontAwesome;
      font-size: 1.8rem;
      top: 1px;
      left: 12px;
      color: #c0c0c0; }
    .underfooter .under-fb:hover::before {
      color: blue; }
  .underfooter .under-google {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #c0c0c0; }
    .underfooter .under-google:before {
      position: absolute;
      content: '\f1a0';
      font-family: FontAwesome;
      font-size: 1.8rem;
      top: 1px;
      left: 11px;
      color: #c0c0c0; }
    .underfooter .under-google:hover::before {
      color: fuchsia; }
  .underfooter .under-youtube {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #c0c0c0; }
    .underfooter .under-youtube:before {
      position: absolute;
      content: '\f16a';
      font-family: FontAwesome;
      font-size: 1.8rem;
      top: 1px;
      left: 9px;
      color: #c0c0c0; }
    .underfooter .under-youtube:hover::before {
      color: red; }

.button-top {
  width: 400px; }

#back-top {
  position: fixed;
  bottom: 30px;
  right: 5%;
  z-index: 3; }
  #back-top a {
    width: 48px;
    display: block;
    text-align: center;
    font: bold 8px Arial;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    #back-top a:hover {
      text-decoration: underline; }
  #back-top span {
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: -14px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #000;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    #back-top span:before {
      position: absolute;
      content: '\f188';
      font-family: FontAwesome;
      font-size: 2rem;
      top: 7px;
      left: 10px; }

.container-2 {
  width: 100%;
  text-align: center; }

.border-animation {
  --border-width: 0.1em;
  --animation-speed: 0.5s;
  --color: orange;
  color: var(--color);
  position: relative;
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
  -webkit-transform: scale(1, 0.8);
      -ms-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  border: var(--border-width) solid transparent; }
  .border-animation .border-animation__inner {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Six Caps', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    padding: 0.2em;
    z-index: 1;
    border: solid var(--border-width) transparent; }
    .border-animation .border-animation__inner .butn-number {
      display: inline-block;
      padding: 5px 10px;
      background: white;
      font-size: 1em;
      color: orange;
      margin-left: 10px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .border-animation:before, .border-animation:after {
    content: '';
    position: absolute;
    background: var(--color); }
  .border-animation:focus:before, .border-animation:hover:before {
    -webkit-animation: beforeBorders var(--animation-speed) forwards ease-in-out;
            animation: beforeBorders var(--animation-speed) forwards ease-in-out; }
  .border-animation:focus:after, .border-animation:hover:after {
    -webkit-animation: afterBorders var(--animation-speed) forwards ease-in-out;
            animation: afterBorders var(--animation-speed) forwards ease-in-out; }
  .border-animation:focus, .border-animation:hover {
    -webkit-animation: borderColors var(--animation-speed) steps(1) forwards;
            animation: borderColors var(--animation-speed) steps(1) forwards;
    outline: none; }
    .border-animation:focus .border-animation__inner, .border-animation:hover .border-animation__inner {
      -webkit-animation: background -webkit-calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
              animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
      -webkit-animation-delay: -webkit-calc(var(--animation-speed) / 5 * 2);
              animation-delay: calc(var(--animation-speed) / 5 * 2); }
    .border-animation:focus .butn-number, .border-animation:hover .butn-number {
      color: white;
      background: orange; }

@-webkit-keyframes beforeBorders {
  0% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width); }
  33% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: -webkit-calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: -webkit-calc(var(--border-width) + 50%);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width); }
  66% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: -webkit-calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: -webkit-calc((var(--border-width) * 2) + 100%);
    height: calc((var(--border-width) * 2) + 100%); }
  100% {
    top: auto;
    left: -webkit-calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: -webkit-calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: -webkit-calc(var(--border-width) + 50%);
    width: calc(var(--border-width) + 50%);
    height: -webkit-calc((var(--border-width) * 2) + 100%);
    height: calc((var(--border-width) * 2) + 100%); } }

@keyframes beforeBorders {
  0% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width); }
  33% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: -webkit-calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: -webkit-calc(var(--border-width) + 50%);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width); }
  66% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: -webkit-calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: -webkit-calc((var(--border-width) * 2) + 100%);
    height: calc((var(--border-width) * 2) + 100%); }
  100% {
    top: auto;
    left: -webkit-calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: -webkit-calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: -webkit-calc(var(--border-width) + 50%);
    width: calc(var(--border-width) + 50%);
    height: -webkit-calc((var(--border-width) * 2) + 100%);
    height: calc((var(--border-width) * 2) + 100%); } }

@-webkit-keyframes afterBorders {
  0% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width); }
  33% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: -webkit-calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: -webkit-calc(var(--border-width) + 50%);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width); }
  66% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: -webkit-calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: -webkit-calc((var(--border-width) * 2) + 100%);
    height: calc((var(--border-width) * 2) + 100%); }
  100% {
    top: auto;
    left: auto;
    bottom: -webkit-calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: -webkit-calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: -webkit-calc(var(--border-width) + 50%);
    width: calc(var(--border-width) + 50%);
    height: -webkit-calc((var(--border-width) * 2) + 100%);
    height: calc((var(--border-width) * 2) + 100%); } }

@keyframes afterBorders {
  0% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width); }
  33% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: -webkit-calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: -webkit-calc(var(--border-width) + 50%);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width); }
  66% {
    top: -webkit-calc(var(--border-width) * -1);
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: -webkit-calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: -webkit-calc((var(--border-width) * 2) + 100%);
    height: calc((var(--border-width) * 2) + 100%); }
  100% {
    top: auto;
    left: auto;
    bottom: -webkit-calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: -webkit-calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: -webkit-calc(var(--border-width) + 50%);
    width: calc(var(--border-width) + 50%);
    height: -webkit-calc((var(--border-width) * 2) + 100%);
    height: calc((var(--border-width) * 2) + 100%); } }

@-webkit-keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color); }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color); } }

@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color); }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color); } }

@-webkit-keyframes background {
  to {
    background: #fff;
    text-shadow: 0 0.1em 0.1em #111; } }

@keyframes background {
  to {
    background: #fff;
    text-shadow: 0 0.1em 0.1em #111; } }

@media (min-width: 1200px) {
  .border-animation {
    font-size: 2em;
    line-height: 1em; } }

@media (min-width: 1150px) {
  .navbar-3 ul li:nth-child(1) a, .navbar-3 ul li:nth-child(2) a, .navbar-3 ul li:nth-child(3) a, .navbar-3 ul li:nth-child(4) a, .navbar-3 ul li:nth-child(5) a, .navbar-3 ul li:nth-child(6) a {
    padding-top: 0px; } }

@media (max-width: 1638px) {
  .trend_ h1::before, .trend_ h1::after {
    top: 50px; }
  .trend_ h1::after {
    margin-left: 470px; } }

@media (max-width: 1600px) {
  .div-content {
    height: 20rem; } }

@media (max-width: 1500px) {
  .owl-carousel .owl-item img {
    height: 15rem; } }

@media (max-width: 1408px) {
  .trend_ h1::after {
    margin-left: 240px; } }

@media (max-width: 1300px) {
  .fbitem-2 {
    height: 250px; } }

@media (max-width: 1249px) {
  ._list_ {
    width: 40%; } }

@media (max-width: 1208px) {
  .div-content {
    height: 16rem; } }

@media (max-width: 1200px) {
  .owl-carousel .owl-item img {
    height: 12rem; } }

@media (max-width: 1115px) {
  .trend_ h1::before {
    margin-left: -108%; }
  .trend_ h1::after {
    margin-left: 30px; } }

@media (max-width: 1024px) {
  .fbitem-2 {
    height: 300px; } }

@media (max-width: 1000px) {
  ._products .products-img {
    width: 30%; }
  .div-content {
    height: 13rem; }
  .development_ {
    width: 95%; } }

@media (max-width: 900px) {
  .our-services {
    width: 100%; }
  .fbitem-1, .fbitem-2, .fbitem-3 {
    width: 100%; } }

@media (max-width: 891px) {
  .trend_ h1::before {
    margin-left: -105%; }
  .trend_ h1::after {
    margin-left: 225px; }
  .trend_ h1::before, .trend_ h1::after {
    top: 75px; } }

@media (max-width: 800px) {
  .our-services ul {
    width: 48%; }
  ._products .products-img {
    width: 40%; }
  .background-office {
    width: 700px; }
    .background-office .circle {
      width: 700px;
      height: 700px;
      top: 500px; }
  .footer .footer-column {
    width: 33%; }
  ._list_ {
    width: 75%; }
  .dev-date {
    width: 100%;
    text-align: left;
    padding-left: 30px;
    margin-top: 5px; }
    .dev-date:before {
      left: 2px; }
  .div-read {
    width: 100%;
    text-align: left; } }

@media (max-width: 783px) {
  .trend_ h1::before {
    margin-left: -120%; }
  .trend_ h1::after {
    margin-left: 75px; } }

@media (max-width: 780px) {
  .telephone {
    margin: 0 auto; } }

@media (max-width: 701px) {
  .trend_ h1::before {
    margin-left: -120%; }
  .trend_ h1::after {
    margin-left: 170px; }
  .trend_ h1::before, .trend_ h1::after {
    top: 95px; } }

@media (max-width: 700px) {
  .background-office {
    width: 600px; }
    .background-office .circle {
      width: 600px;
      height: 600px;
      top: 500px; } }

@media (max-width: 669px) {
  .professionals_ h1::before {
    margin-left: -117%; }
  .professionals_ h1::before, .professionals_ h1::after {
    top: 36px; } }

@media (max-width: 701px) {
  .trend_ h1::after {
    margin-left: 55px; } }

@media (max-width: 650px) {
  .owl-carousel .owl-item img {
    height: 10rem; } }

@media (max-width: 608px) {
  .development_ h1::before, .development_ h1::after {
    margin-left: 200%; } }

@media (max-width: 600px) {
  ._products .products-img {
    width: 55%; }
  .background-office .circle {
    width: 0px; }
  .development_ h1::after {
    margin-left: 40%; }
  .footer .footer-column {
    width: 50%; }
  ._news_ h4 {
    margin-top: 20px; }
  ._dev-item-1, ._dev-item-2 {
    width: 65%; } }

@media (max-width: 559px) {
  .trend_ h1::before, .trend_ h1::after {
    margin-left: 200%; } }

@media (max-width: 550px) {
  .our-services ul {
    width: 60%; }
  .professionals_ h1::before {
    margin-left: -121%; } }

@media (max-width: 528px) {
  .advantages_ h1::before {
    margin-left: -123%; }
  .advantages_ h1::before, .advantages_ h1::after {
    top: 36px; } }

@media (max-width: 500px) {
  .border-animation {
    font-size: 2em; }
  .feedback__item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .ava, .ava2, .ava3 {
    width: 0;
    height: 0; }
  .ava-nick {
    width: 100%; }
  .feedback_ {
    width: 100%; }
  .portfolio_ {
    padding-bottom: 0; }
  .clients_ h1 {
    margin-bottom: 30px; }
  ._list_ ._item-1 {
    height: 320px; }
    ._list_ ._item-1 img {
      width: 200px; }
  ._list_ ._item-2 {
    height: 320px; }
    ._list_ ._item-2 img {
      width: 200px; }
  .professionals_ h1::before, .professionals_ h1::after {
    margin-left: 200%; }
  .advantages_ h1::before, .advantages_ h1::after {
    margin-left: 200%; }
  .background-advantages .image-adv {
    width: 0; }
  .trend_ h1::before, .trend_ h1::after {
    margin-left: 200%; }
  .trend_ h1 {
    font-size: 2rem; }
  ._item-adv a {
    width: 100%; }
  ._dev-item-1, ._dev-item-2 {
    width: 80%; } }

@media (max-width: 450px) {
  .our-services ul {
    width: 80%; } }

@media (max-width: 400px) {
  ._products .products-img {
    width: 80%; }
  .contacts_ h1::before, .contacts_ h1::after {
    margin-left: 200%; }
  .footer .footer-column {
    width: 100%; }
  .professionals_, .advantages_, .development_ {
    width: 95%; }
  .professionals_ h1, .advantages_ h1, .development_ h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.8em; }
  ._list_ ._item-1 {
    height: 270px; }
    ._list_ ._item-1 img {
      width: 150px; }
  ._list_ ._item-2 {
    height: 270px; }
    ._list_ ._item-2 img {
      width: 150px; }
  .our-services h1::before, .our-services h1::after {
    margin-left: 200%; }
  .our-services ul {
    width: 95%; }
  .div-content {
    height: 10rem; }
  .feedback_ h1::before, .feedback_ h1::after {
    margin-left: 200%; } }

@media (max-width: 389px) {
  .clients_ h1::before {
    margin-left: -111%; }
  .clients_ h1::before, .clients_ h1::after {
    top: 36px; } }
