.main {
  padding: 10px 20px 10px 20px; }

.logo-text {
  display: inline-block;
  color: black;
  font-weight: bold; }
  .logo-text p {
    font-size: 15px;
    color: #8C8C8C;
    font-weight: 400; }

.logo {
  width: 300px; }
  .logo a {
    color: orange; }
    .logo a:hover {
      color: red;
      text-decoration: none; }

.navbar-tel h6 a {
  position: relative;
  text-decoration: none;
  border-bottom: 1px dashed blue; }

.fa-map-marker {
  color: black;
  padding: 5px; }

.form-search {
  position: relative;
  display: inline-block;
  border: 1px solid #747474;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
          box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BCBCBC), to(#EBEBEB));
  background-image: -webkit-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: -o-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: linear-gradient(#BCBCBC, #EBEBEB); }
  .form-search:before {
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), color-stop(50%, #CACACA), color-stop(50%, #A9A9A9), to(#9B9B9B));
    background: -webkit-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
    background: -o-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
    background: linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B); }
  .form-search:focus-within {
    -webkit-box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
            box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#9CC2CA), to(#DFECEF));
    background: -webkit-linear-gradient(#9CC2CA, #DFECEF);
    background: -o-linear-gradient(#9CC2CA, #DFECEF);
    background: linear-gradient(#9CC2CA, #DFECEF); }
  .form-search input[type="search"] {
    width: 60px;
    height: 32px;
    line-height: 32px;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 0 0 5px;
    background: transparent;
    font: 13px Helvetica, Arial, sans-serif;
    color: #6E7074;
    text-shadow: 0 1px 0 #FFF;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
  .form-search:focus-within input[type="search"] {
    margin: 0 0 0 10px;
    width: 160px;
    color: #25464D; }
  .form-search input {
    padding: 0;
    vertical-align: bottom; }
    .form-search input[type="search"]:focus {
      width: 160px;
      color: black; }

.logo .navbar-tel .search {
  display: inline; }

.fa-search {
  padding-right: 10px; }

.telephone {
  color: orange; }
  .telephone:hover {
    text-decoration: none;
    color: red; }
  .telephone p {
    display: inline;
    color: #8c8c8c; }
  .telephone strong {
    color: #000;
    font-size: 24px; }

.navbar-2 ul {
  padding: 0;
  text-align: center; }
  .navbar-2 ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 30px 0 30px; }
    .navbar-2 ul li a {
      color: #000;
      font: bold 18px/24px italic;
      text-transform: uppercase;
      font-size: 12px; }
      .navbar-2 ul li a:hover {
        text-decoration: none; }

.navbar-3 {
  background-color: #555555; }
  .navbar-3 ul {
    list-style-type: none;
    padding: 20px 10px 10px 160px;
    text-align: center;
    margin: 0; }

.navbar-3 ul li:nth-child(1) {
  position: relative;
  display: inline-block;
  width: 180px; }
  .navbar-3 ul li:nth-child(1) a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 3px 3px 10px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(1) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 15px black; }
    .navbar-3 ul li:nth-child(1) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat 0px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(2) {
  position: relative;
  display: inline-block;
  width: 180px; }
  .navbar-3 ul li:nth-child(2) a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 3px 3px 10px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(2) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 15px black; }
    .navbar-3 ul li:nth-child(2) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -44px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(3) {
  position: relative;
  display: inline-block;
  width: 180px; }
  .navbar-3 ul li:nth-child(3) a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 3px 3px 10px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(3) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 15px black; }
    .navbar-3 ul li:nth-child(3) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -88px -2px;
      width: 44px;
      height: 54px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(4) {
  position: relative;
  display: inline-block;
  width: 180px; }
  .navbar-3 ul li:nth-child(4) a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 3px 3px 10px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(4) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 15px black; }
    .navbar-3 ul li:nth-child(4) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -132px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(5) {
  position: relative;
  display: inline-block;
  width: 180px; }
  .navbar-3 ul li:nth-child(5) a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 3px 3px 10px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(5) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 15px black; }
    .navbar-3 ul li:nth-child(5) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -176px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.navbar-3 ul li:nth-child(6) {
  position: relative;
  display: inline-block;
  width: 180px; }
  .navbar-3 ul li:nth-child(6) a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    float: left;
    width: 100%;
    text-align: initial;
    text-shadow: 3px 3px 10px black;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .navbar-3 ul li:nth-child(6) a:hover {
      text-decoration: none;
      text-shadow: 5px 5px 15px black; }
    .navbar-3 ul li:nth-child(6) a:before {
      content: '';
      position: absolute;
      display: inline;
      background: url(../img/m-icons.png) no-repeat -225px -6px;
      width: 44px;
      height: 44px;
      float: left;
      margin: -5px 0 0 -50px; }

.sky {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(../img/sky.jpg) no-repeat center/cover; }

.sky a {
  position: absolute;
  border: 2px solid blue;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  background-color: orange;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin-left: 25px;
  margin-top: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .sky a:hover {
    text-decoration: none;
    color: red;
    -webkit-box-shadow: 8px 8px 20px black;
            box-shadow: 8px 8px 20px black; }

.hidden {
  display: none; }

#form {
  position: relative;
  text-align: center; }
  #form input[type="text"] {
    position: relative;
    padding-left: 10px;
    width: 240px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  #form input[type="submit"] {
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-image: -webkit-gradient(linear, left top, right top, from(#9EEFE1), color-stop(51%, #4830F0), to(#9EEFE1));
    background-image: -webkit-linear-gradient(left, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-image: -o-linear-gradient(left, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    -webkit-background-size: 200% auto;
            background-size: 200% auto;
    text-transform: uppercase;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    #form input[type="submit"]:hover {
      background-position: right center; }
  #form textarea {
    padding-left: 10px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.background-office {
  position: relative;
  width: 100%;
  -webkit-border-radius: 0%;
          border-radius: 0%;
  background: url(../img/office.jpg) no-repeat center;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: soft-light; }

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -webkit-radial-gradient(transparent 400px, white 400px);
  background: -o-radial-gradient(transparent 400px, white 400px);
  background: radial-gradient(transparent 400px, white 400px); }

.our-services {
  position: relative;
  padding-bottom: 30px; }
  .our-services h1 {
    position: relative;
    margin: 40px 20px 0px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden; }
    .our-services h1:before, .our-services h1:after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 0 solid black;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 3px;
      border-width: 0 70px;
      top: 23px; }
    .our-services h1:before {
      margin-left: -104%; }
    .our-services h1:after {
      margin-left: -90%; }

.our-services {
  width: 80%;
  margin: 0 auto; }
  .our-services ul {
    width: 33.33%;
    padding: 50px 20px 20px 20px;
    list-style: none; }
    .our-services ul h3 {
      color: orange;
      margin: 30px 0;
      min-height: 15%;
      text-align: center; }
    .our-services ul button {
      display: block;
      padding: 7px 30px 7px 30px;
      margin-bottom: 30px;
      border: 3px solid orange;
      background: white;
      margin: 0 auto; }
      .our-services ul button a {
        font-weight: bold;
        color: #000; }
    .our-services ul li {
      padding-left: 40px; }
      .our-services ul li p {
        color: #8a8a8a; }

.complex {
  position: relative; }
  .complex li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .complex li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .complex li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.trafic {
  position: relative; }
  .trafic li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .trafic li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .trafic li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.landing {
  position: relative; }
  .landing li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .landing li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .landing li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.site {
  position: relative; }
  .site li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .site li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .site li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.young-site {
  position: relative; }
  .young-site li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .young-site li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .young-site li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.advertise {
  position: relative; }
  .advertise li:nth-child(3) h5:before {
    position: absolute;
    content: "\f02e";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .advertise li:nth-child(4) h5:before {
    position: absolute;
    content: "\f080";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }
  .advertise li:nth-child(5) h5:before {
    position: absolute;
    content: "\f29b";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #666666;
    left: 20px; }

.wrap__cube {
  margin: 20px 0 20px 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%; }

.cube1, .cube2, .cube3, .cube4, .cube5, .cube6 {
  margin: auto;
  position: relative;
  height: 80px;
  width: 80px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .cube1 > div, .cube2 > div, .cube3 > div, .cube4 > div, .cube5 > div, .cube6 > div {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px;
    height: 100%;
    width: 100%; }

.cube1 > div {
  background: url(../img/our-services-1.png) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube2 > div {
  background: url(../img/our-services-2.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube3 > div {
  background: url(../img/our-services-3.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube4 > div {
  background: url(../img/our-services-4.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube5 > div {
  background: url(../img/our-services-5.png) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.cube6 > div {
  background: url(../img/our-services-6.png) no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.front {
  -webkit-transform: translateZ(80px);
          transform: translateZ(80px); }

.back {
  -webkit-transform: translateZ(0px) rotateY(180deg);
          transform: translateZ(0px) rotateY(180deg); }

.right {
  -webkit-transform: rotateY(-270deg) translateX(0px);
          transform: rotateY(-270deg) translateX(0px);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right; }

.left {
  -webkit-transform: rotateY(270deg) translateX(0px);
          transform: rotateY(270deg) translateX(0px);
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left; }

.top {
  -webkit-transform: rotateX(-270deg) translateY(0px);
          transform: rotateX(-270deg) translateY(0px);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center; }

.bottom {
  -webkit-transform: rotateX(270deg) translateY(0px);
          transform: rotateX(270deg) translateY(0px);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg); } }

.cube1, .cube2, .cube3, .cube4, .cube5, .cube6 {
  -webkit-animation: rotate 0s infinite linear;
          animation: rotate 0s infinite linear; }

.portfolio_ {
  position: relative;
  padding-bottom: 30px; }
  .portfolio_ h1 {
    position: relative;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden; }
    .portfolio_ h1 span:before, .portfolio_ h1 span:after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 0 solid black;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 3px;
      border-width: 0 70px; }
    .portfolio_ h1 span:before {
      margin-left: -105%; }
    .portfolio_ h1 span:after {
      margin-left: -90%; }

.portfolio_ h4 {
  position: relative;
  text-align: center;
  color: orange;
  text-transform: uppercase; }

._sim-menu {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px; }
  ._sim-menu span {
    display: inline-block;
    padding-right: 20px; }
    ._sim-menu span:after {
      position: absolute;
      content: '\f105';
      font-family: FontAwesome;
      font-size: 1.5em;
      font-weight: 900;
      color: blue;
      padding-left: 10px; }

._products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  ._products div {
    position: relative;
    width: 25%;
    height: 300px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 20px -10px #000, 0px 0px 20px -10px #000, 0px 0px 20px -10px #000;
            box-shadow: 0px 0px 20px -10px #000, 0px 0px 20px -10px #000, 0px 0px 20px -10px #000;
    overflow: hidden; }
    ._products div img {
      position: absolute;
      width: 100%; }
    ._products div:before {
      position: absolute;
      content: '';
      right: 0;
      left: 0;
      top: -20px;
      -webkit-box-shadow: 0 45px 50px 50px #fff;
              box-shadow: 0 45px 50px 50px #fff;
      z-index: 1; }
    ._products div:after {
      position: absolute;
      content: '';
      background: url(../img/logo.png) no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      top: 200px;
      left: 20px;
      width: 30px;
      height: 30px; }
    ._products div .text-top {
      position: absolute;
      padding: 0 10% 0 10%;
      color: orange;
      text-align: center;
      top: 15px;
      font-weight: bold;
      font-size: 14px;
      z-index: 1; }
      ._products div .text-top span {
        color: #3f3f3f; }
    ._products div .text-bottom {
      position: absolute;
      color: orange;
      padding: 0 10% 0 10%;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      bottom: 15px; }
      ._products div .text-bottom span {
        color: #3f3f3f; }

.products-png {
  position: absolute;
  bottom: -100px; }

._prod-cont .butn {
  display: block;
  width: 240px;
  margin: 40px auto 20px auto;
  background: #ffffff;
  border: 4px solid orange;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #000;
  text-decoration: none; }
  ._prod-cont .butn:hover, ._prod-cont .butn:focus {
    text-decoration: none;
    color: orange;
    background: blue; }
    ._prod-cont .butn:hover div, ._prod-cont .butn:focus div {
      background: white;
      color: orange; }
  ._prod-cont .butn div {
    display: inline-block;
    padding: 5px 10px;
    background: orange;
    font-size: 14px;
    color: #fff;
    margin-left: 10px; }

.feedback_, .clients_, .professionals_, .advantages_, .development_ {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center; }
  .feedback_ h1, .clients_ h1, .professionals_ h1, .advantages_ h1, .development_ h1 {
    position: relative;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase; }
    .feedback_ h1:before, .feedback_ h1:after, .clients_ h1:before, .clients_ h1:after, .professionals_ h1:before, .professionals_ h1:after, .advantages_ h1:before, .advantages_ h1:after, .development_ h1:before, .development_ h1:after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 0 solid black;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 3px;
      top: 23px;
      border-width: 0 70px; }
    .feedback_ h1:before, .clients_ h1:before, .professionals_ h1:before, .advantages_ h1:before, .development_ h1:before {
      margin-left: -102%; }
    .feedback_ h1:after, .clients_ h1:after, .professionals_ h1:after, .advantages_ h1:after, .development_ h1:after {
      margin-left: 2%; }
  .feedback_ h4, .clients_ h4, .professionals_ h4, .advantages_ h4, .development_ h4 {
    position: relative;
    font-weight: bold;
    color: orange;
    text-transform: uppercase; }
  .feedback_ a, .clients_ a, .professionals_ a, .advantages_ a, .development_ a {
    display: inline-block;
    margin: 40px auto 20px auto;
    background: #ffffff;
    border: 4px solid orange;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #000;
    text-decoration: none; }
    .feedback_ a:hover, .feedback_ a:focus, .clients_ a:hover, .clients_ a:focus, .professionals_ a:hover, .professionals_ a:focus, .advantages_ a:hover, .advantages_ a:focus, .development_ a:hover, .development_ a:focus {
      text-decoration: none;
      color: orange;
      background: blue; }
      .feedback_ a:hover div, .feedback_ a:focus div, .clients_ a:hover div, .clients_ a:focus div, .professionals_ a:hover div, .professionals_ a:focus div, .advantages_ a:hover div, .advantages_ a:focus div, .development_ a:hover div, .development_ a:focus div {
        background: white;
        color: orange; }
    .feedback_ a div, .clients_ a div, .professionals_ a div, .advantages_ a div, .development_ a div {
      display: inline-block;
      padding: 5px 10px;
      background: orange;
      font-size: 14px;
      color: #fff;
      margin-left: 10px; }

.trend_ {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px; }
  .trend_ h1 {
    position: relative;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
    .trend_ h1:before, .trend_ h1:after {
      position: absolute;
      content: '';
      display: inline-block;
      border: 0 solid black;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 3px;
      top: 48px;
      border-width: 0 70px; }
    .trend_ h1:before {
      margin-left: -102%; }
    .trend_ h1:after {
      margin-left: 14%; }
  .trend_ h4 {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: orange;
    text-transform: uppercase; }

.feedback__item {
  position: relative;
  padding: 10px;
  margin: 20px auto 0 auto;
  width: 80%;
  -webkit-box-shadow: 0 0 2px #555555;
          box-shadow: 0 0 2px #555555;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: left; }

.ava-nick {
  display: inline-block;
  vertical-align: top;
  width: 105px; }

.ava {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 100px;
  height: 100px;
  background: url(../img/ava.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px; }

.nick {
  width: 90%;
  text-align: center;
  color: blue;
  font-weight: bold; }

.com {
  display: inline-block;
  margin-left: 10px;
  width: 85%; }

.ava2 {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 100px;
  height: 100px;
  background: url(../img/bolt.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px; }

.ava3 {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 100px;
  height: 100px;
  background: url(../img/girl.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px; }
